@font-face {
  font-family: "PT Sans", Arial, sans-serif;
  src: local("PT Sans"), url("/fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans", Arial, sans-serif;
  src: local("PT Sans"), url("/fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ---------COMMON ------------ */
html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  background: #fff;
  color: #000;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
}

li {
  list-style: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  display: inline-block;
  background-color: #83b3d3;
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  border-style: none;
}

.button:hover {
	background-color: #68A2CA;
}
.button:focus {
	background-color: #68A2CA;
	border: #756257 3px solid;
	border-radius: 4px;
}

.button:active {
	color: rgba(255, 255, 255, 0.3);
}

.button-secondary {
  background-color: #756257;
}

.button-secondary:hover {
  background-color: #615048;
}

.button-secondary:focus {
  background-color: #615048;
  border: #83B3D3 3px solid;
  border-radius: 4px;
  outline: none;
}

.button-large {
  font-size: 20px;
}

.icon-button {
  display: block;
  width: 42px;
  height: 42px;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  padding: 0;
  clip: rect(0 0 0 0);
  border: 0;
  overflow: hidden;
}

/* img {
  min-width: 100%;
  height: auto;
} */

/* -----PAGE---------------------- */

.page__header {
}

.main__index {
  flex-grow: 1;
}

.page__footer {
}

.page__container-catalog {
  padding: 0 71px;
}

/* ========= Section =============== */

.section__title {
  font-size: 30px;
  text-transform: uppercase;
  margin: 0 0 30px;
  line-height: 36px;
  color: #000;
}

.section__description {
  font-weight: 400;
  font-size: 22px;
  margin: 0;
  line-height: 26px;
  padding: 0 240px;
}

/* ----------HEADER --------------- */

.header__container {
  margin: 0 auto;
  /* max-width: 1060px; */
}

.header__nav {
}

.nav {
  font-size: 20px;
  line-height: 26px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
  padding: 0 72px;
}

.logo__link {
  margin-right: 47px;
  line-height: 0;
}

.nav__list {
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav__item:not(:last-child) {
  /* margin-right: 34px; */
}

.nav__item {
	position: relative;
}

.nav__link {
  display: block;
  padding: 20px 17px;
}

.nav__link:hover {
	color: #756257;
}

.nav__link:active{
	color: rgba(117, 98, 87, 0.3);
}

.nav__link-current::before {
	content: "";
	position: absolute;
	right: 17px;
	left: 17px;
	background-color: #756257;
	height: 2px;
	bottom: 2px ;
}

.nav__user {
  align-items: center;
  /* max-width: 264px; */
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.icon__button {
	position: relative;
	width: 42px;
	height: 66px;
}


.icon__button svg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	fill: #000;
}

.icon__button:hover .svg {
	fill: #756257;
}

.icon__button:focus .svg {
	fill: none;
	outline: none;
}

.icon__button:active .svg {
	fill: #756257;
	outline: none;
	opacity: 0.3;
}


.user__like {
	margin-right: 20px;
}


.user__search {
	min-width: 18px;
	min-height: 18px;
}

.user__button {
  min-width: 20px;
  min-height: 20px;
}

.nav__user .button {
  padding: 9px 30px;
  font-size: 16px;
  line-height: 20px;
}

/* -------------FOOTER--------- */

.footer {
  display: flex;
  justify-content: space-between;
}

.footer__social {
  display: flex;
  flex-wrap: wrap;
  max-width: 107px;
}

.social {
}

.social__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.social__link {
  width: 20px;
  height: 16px;
  position: relative;
  outline: green 1px solid;
}

.social__link:not(:last-child) {
  margin-right: 30px;
  margin-bottom: 30px;
}

.social__img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	fill: #83B3D3;

}

.footer__phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}

.footer__logo {
  justify-self: end;
}

/* ----------- MAIN-----------------*/

.main__container {
  flex-grow: 1;
}

.main__reasons {
}

.main__interesting {
}

.main__subscribe {
}

.main__promo {
  min-height: 485px;
  background-color: #83b3d3;
  background-image: url(/img/index-background.jpg);
  background-size: cover;
  position: relative;
}

.main__promo::after {
  position: absolute;
  content: "";
  background-image: url(/img/welcome.svg);
  background-size: cover;
  top: 51px;
  left: 371px;
  min-height: 352px;
  min-width: 458px;
}

/* -------------INTERESTING			 */

.interesting {
  text-align: center;
  padding: 90px 240px;
  background-image: url(/img/);
}

.interesting__link {
  margin-top: 56px;
  padding: 15px 48px;
  border-radius: 10px;
}

/* --------REASONS-------------- */
.reasons {
  text-align: center;
}

.reasons__head {
  padding: 62px 240px 80px;
}

.reasons__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reasons__list-inner {
  grid-column: 1 / -1;
  background-color: #fff;
  color: #333333;
}

.reasons__item {
  background: rgba(131, 179, 211, 0.12);
  padding: 60px;
}

.reasons__item:not(.reasons__item-accent):nth-child(even) {
  background: rgba(131, 179, 211, 0.2);
}

.reasons__item-accent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1 / -1;
  padding: 0;
  color: #fff;
  background: #83b3d3;
}

.reasons__list-inner .reasons__item:nth-child(even) {
  background-color: #fff;
}

.reasons__title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.reasons__description {
  padding: 60px;
}

.reasons__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.reasons__img {
  grid-column: span 2;
  width: 100%;
  height: 0;
  min-height: 100%;
  object-fit: cover;
}

.reasons__item-accent:nth-child(2) .reasons__img {
  order: -1;
}

/* ----------------SUBSCRIBE------------ */

.subscribe {
  background-color: #83b3d3;
  background: url(/img/background-subscribe.jpg) no-repeat;
  background-size: cover;
  text-align: center;
  padding: 94px 200px;
}

.subscribe .section__title,
.subscribe .section__description {
  color: #fff;
}

.subscribe__form {
  display: grid;
  grid-template-columns: 1fr 200px;
  margin-top: 48px;
}

.field__input {
  width: 100%;
  background-color: #f2f2f2;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  border-style: none;
}

.subscribe__button {
  border-radius: 0px 10px 10px 0px;
  font-size: 20px;
  line-height: 26px;
  border-style: none;
}

/* ---------CATALOG---------------- */

/* ---------CATALOG-HEADER----------- */
.catalog__header-image {
  background-color: #83b3d3;
  background-image: url(/img/catalog-background.jpg);
  background-size: 100% auto;
  padding-top: 35px;
  padding-bottom: 83px;
}

.catalog__header {
  color: #fff;
}

.catalog__title {
margin: 0;
}

.catalog__breadcrumbs {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin: 0 0 45px;
  p0
  width: 111px;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs__item:not(:last-child) {
  margin-right: 26px;
}

.breadcrumbs__link {
}

/* ---------CATALOG-filter----------- */

.catalog__filter {
  color: #fff;
}

.filter__form {
  display: grid;
  grid-template-columns: 200px 200px 1fr 223px;
  justify-content: space-between;
  gap: 17px;
}

.filter__group {
margin: 0;
padding: 0;
}

.filter__subtitle {
  font-size: 20px;
  line-height: 26px;
}

.filter__list {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin: 0;
  padding: 0;
}

.filter__group-price {
	margin-left: 96px;
}

.filter__buttons {
	display: flex;
	flex-direction: column;
	margin-left: 80px;
}

.filter__item {
}

.facility {
}

.facility__input {
}

.facility__label {
}

.facility__item {
}

/* ================= Price Filter ====================== */
.filter__range {
}

.range {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.range__field {
  display: grid;
  grid-template-columns: 1fr 44px;
}
.range__title {
  grid-column: -2/-1;
  grid-row: 1/2;
  opacity: 0.3;
}
.range__input {
  width: 100%;
  grid-column: 1/-1;
  grid-row: 1/2;

  color: #fff;
  background-color: transparent;
  font-family: inherit;
  font-size: 18px;
}
.range__slider {
  grid-column: 1/-1;
}
.slider {
}
.slider__bar {
}
.slider__pin {
}
.visually-hidden {
}

.type {
}

.type__input {
}

.type__label {
}

.filter__input {
}

.filter__slider {
  width: 287px;
}

.filter__price {
}

.filter__buttons {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

.filter__button-empty {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  background-color:transparent;
  align-self: center;
  color: #fff;
  border-style:none
}

.catalog {
  padding: 0 72px;
}

.filter__founded {
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.sorting__list {
  display: grid;
  grid-template-columns: 1fr 287px max-content;
  grid-area: 80px;
  padding: 44px 0;
}

.select__sorting {
  width: 287px;
  height: 48px;
}

.select__button {
}

.select__list {
}

.select__item {
}

.select__item-active {
}

.select__option {
}

.view {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	max-width: 224px;
	margin: -4px;
	padding: 0;
	outline: red 1px solid;
}

.view__item {
margin: 4px;
}

.sorting__view-link {
	display: block;
	width: 48px;
	height: 48px;
}

.view__item:first-child .sorting__view-link {
	background-image: url(/img/icon/mode-tile.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.view__item:nth-child(2) .sorting__view-link {
	background-image: url(/img/icon/mode-slideshow.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.view__item:nth-child(3) .sorting__view-link {
	background-image: url(/img/icon/mode-list.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.sorting__view-link {
	border: #E6E6E6 solid 2px;
	border-radius: 4px;
}

.sorting__view-link:hover,
.sorting__view-link:focus {
	border-color: #83B3D3;
}

/* -----------------OFFER CARDS----------- */

.offer__list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  column-gap: 18px;
  row-gap: 10px;
  margin-bottom: 34px;
  padding: 0;
}

.offer__item {
  display: grid;
  grid-template-columns: 20px 135px 26px 140px 20px;
  grid-template-rows: 20px 206px 16px auto 16px auto 16px min-content 16px min-content 20px;
}

.offer__img {
  grid-column: 2/-2;
  grid-row: 2/3;
}

.offer__title {
  grid-column: 2/-2;
  grid-row: 4 / 5;
  font-size: 24px;
  line-height: 31px;
  margin: 0;
  padding: 0;
}

.offer__subtitle {
  grid-column: 2/-2;
  grid-row: 6/7;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  column-gap: 26px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  margin: 0;
  padding: 0;
}

.offer__link {
}

.offer__type {
  grid-column: 1/2;
}

.offer__price {
  grid-column: 2/3;
}

.offer__details {
  grid-column: 2/3;
  grid-row: 8/9;

  font-size: 16px;
  line-height: 21px;
  border-radius: 4px;
  text-align: center;
  padding-top: 9px;
}

.offer__liked {
  grid-column: 4/5;
  grid-row: 8/9;
  font-size: 16px;
  line-height: 21px;
  padding: 9px 10px;
  border-radius: 4px;
}

.offer__rating {
  grid-row: -2/-3;
  grid-column: 3/5;
  background: #f2f2f2;
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  padding: 9px;
}

/* --------PAGINATION ------------------ */

.pagination {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination__list {
  display: grid;
  grid-template-columns: repeat(6, 55px);
  gap: 8px;
  padding-top: 60px;
}

.pagination__button {
  text-align: center;
}

.pagination__show-more {
  width: 620px;
  padding: 17px 0;
  font-size: 20px;
  line-height: 26px;
  border-radius: 4px;
  border-style: none;
  text-align: center;
  margin: 30px 0;
}

.pagination__item {
  box-sizing: border-box;
  width: 55px;
  height: 55px;
}

.pagination__item:not(:last-child) {
  margin-right: 8px;
}

.pagination__link {
  border-radius: 4px;
  background-color: #83b3d3;
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  padding: 20px;
}

.pagination-current {
}

.pagination__select {
  display: grid;
  grid-template-columns: auto 51px 160px;
}
.pagination__select-text {
	margin: 0 50px 0 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.select {
}

.select__menu {
}

.catalog__subscribe {
  text-align: center;
  padding: 94px 200px;
}

/* ----------WELCOME--------- */
.index__welcome {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 145px;
}

.img__welcome {
}
